<div class="outerDiv">
    <div class="outerAddForm">
            <input type="text" name="firstName" value={{employeeToUpdate!.firstName}} required><br>
            <input type="text" name="lastName" value={{employeeToUpdate!.lastName}}  required><br>
            <input type="text" name="work" value={{employeeToUpdate!.work}} placeholder="work" required><br>
            <input type="text" name="telefon" value={{employeeToUpdate!.telefon}}  placeholder="phone" required><br>
        <button type="submit" >Add Employee</button>
    </div>
</div>